<!DOCTYPE html>
<html>
<head>
<title>Afrique Explorer</title>
<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="http://hosting.africexplorer.com/Symfony/web/template/images/email/bootstrap.css" type="text/css" />
</head>
<body>
<div style="margin: 4px 7px;">
<div class="panel panel-default">
<div class="panel-heading">
<h3 class="panel-title"><a href="http://hosting.africexplorer.com/"><img src="http://hosting.africexplorer.com/Symfony/web/template/images/email/hosting.png" style="width; 30px; height: 30px;"/> <strong>Afex Hosting</strong></a>
<a href="https://twitter.com/afex_hosting" title=" Twitter"><img src="http://hosting.africexplorer.com/Symfony/web/template/images/email/twitter.png" style="width; 30px; height: 30px; float: right; margin: 2px;"/></a> 
<a href="https://www.facebook.com/afexhosting/" title=" Facebook"><img src="http://hosting.africexplorer.com/Symfony/web/template/images/email/facebook.png" style="width; 30px; height: 30px; float: right; margin: 2px;"/></a>
<a href="https://www.linkedin.com/company/afex-hosting" title=" Linked In"><img src="http://hosting.africexplorer.com/Symfony/web/template/images/email/linkedin.png" style="width; 29px; height: 29px; float: right; margin: 2px;"/></a>
<a href="https://plus.google.com/106080443821118353442" title=" Google Plus"><img src="http://hosting.africexplorer.com/Symfony/web/template/images/email/google.png" style="width; 29px; height: 29px; float: right; margin: 2px;" /></a>
</h3>
</div>
<div class="panel-body" style="border-left: 15px  solid #F5F5F4; border-right: 15px  solid #F5F5F4; box-shadow: 1px 2px #ddd;">
<h4>Hello {{ nom }}, </h4>
<h4>{{ titre }}</h4>
<div style="text-align: justify;">{{ contenu }}</div>
<div style="text-align: center; margin-top: 15px;"><a href="{{ link }}" style="background: #F5F5F4; padding: 4px; border: 1px  solid #ddd; border-radius: 5px;">En savoir Plus <img src="http://hosting.africexplorer.com/Symfony/web/template/images/email/good.png"/></a></div>

<div style="margin-top: 50px; border-top: 1px solid #f6f6f6;">

Equipe Afrique Explorer Hosting, Meec/Nkolbissong , Yaoundé Cameroun,
Tel: (+237) 656334197,
Email.: support@hosting.africexplorer.com.
Site web.: <a href="http://hosting.africexplorer.com">http://hosting.africexplorer.com</a></br>
© {{ "now"|date('Y') }} Afrique Explorer. All rights reserved | <a href="" style="font-size: 1em; text-decoration:none;">Copyright</a> | <a href="" style="font-size: 1em; text-decoration:none;">Utilisation</a>  

</div>
</div>
<div class="panel-footer">
<div style="width: 40%; display: inline-block;">
<a href="http://africexplorer.com/"><img src="http://hosting.africexplorer.com/Symfony/web/template/images/email/africexplorer.png" style="width; 30px; height: 40px; float: left; margin-right: 5px;"/> <strong>Afrique Explorer</strong></a></br>
<span>Votre guide sur la toile</span>
</div>
<div style="width: 19%; display: inline-block;">
<img src="http://hosting.africexplorer.com/Symfony/web/template/images/email/logoafexmarket.png" style="width: 25px; height: 25px; margin-right: 5px;"/></br>
<a href="http://market.africexplorer.com/"><strong>Afex Market</strong></a>
</div>
<div style="width: 19%; display: inline-block;">
<img src="http://hosting.africexplorer.com/Symfony/web/template/images/email/hosting.png" style="width: 25px; height: 25px; margin-right: 5px;"/></br>
<a href="http://hosting.africexplorer.com/"><strong>Afex Hosting</strong></a>
</div>
<div style="width: 19%; display: inline-block;">
<img src="http://hosting.africexplorer.com/Symfony/web/template/images/email/logobin.png" style="width: 25px; height: 25px; margin-right: 5px;"/></br>
<a href="http://bin.africexplorer.com/"><strong>Business In</strong></a>
</div>
</div>
</div>
</div>
</body>
</html>