<div class="row">
<div class="col-md-8 col-md-offset-2 col-sm-12">
	{{ form_start(formevent, {'attr': {'class': 'row', 'style': 'margin-top: 15px;', 'action': path('users_adminuser_mod_evolution_indicateur', {'id': indicateur.id }) }}) }}
	<div class="col-sm-12">
	 <span style="color:red;">{{ form_errors(formevent) }}</span>
	 <span style="color:red;">{{ form_errors(formevent.bestvalue) }}</span>
	 <div class="form-group bestvalue">
		<span style="color:red;">{{ form_errors(formevent.bestvalue) }}</span>
		{{ form_widget(formevent.bestvalue) }}
	 </div>
	 <div class="form-group falsevalue">
		<span style="color:red;">{{ form_errors(formevent.falsevalue) }}</span>
		{{ form_widget(formevent.falsevalue) }}
	 </div>
	 <div class="form-group indicateur">
		<span style="color:red;">{{ form_errors(formevent.indicateur) }}</span>
		{{ form_widget(formevent.indicateur) }}
	 </div>
	</div>
	
	<div class="col-sm-12" style="margin-top: 15px;">
	<div class="form-group annee">
		<span style="color:red;">{{ form_errors(formevent.annee) }}</span>
		{{ form_widget(formevent.annee) }}
	 </div>
	<div class="form-group produit">
		<span style="color:red;">{{ form_errors(formevent.produit) }}</span>
		{{ form_widget(formevent.produit) }}
	 </div>

	<div class="keywords" style="margin-top: 15px;">
	<button class="btn btn-primary">Enregistrer la stat</button>
	</div>
	</div>
	 <div class="clear"></div>
{{ form_end(formevent) }}
</div>
</div>