<div class="row">
<div class="col-md-8 col-md-offset-2 col-sm-12">
	{{ form_start(formscat, {'attr': {'class': 'row', 'style': 'margin-top: 15px;', 'action': path('users_adminuser_modif_souscategorie_application', {'id': categorie.id }) }}) }}
	  <div class="col-sm-12">
		 <span style="color:red;">{{ form_errors(formscat) }}</span>
		 <span style="color:red;">{{ form_errors(formscat.nom) }}</span>
		 <div class="form-group nom">
			<span style="color:red;">{{ form_errors(formscat.nom) }}</span>
			{{ form_widget(formscat.nom) }}
		 </div>
		 <span style="color:red;">{{ form_errors(formscat.file) }}</span>
		 <span>{{ form_label(formscat.file,'Lier une image descriptive de la catégorie') }}</span>
		 <div style="margin-top: 10px;">{{ form_widget(formscat.file) }}</div>
	</div>
	  <div class="col-sm-12" style="margin-top: 15px;">
		<div class="form-group rang">
			<span style="color:red;">{{ form_errors(formscat.rang) }}</span>
			{{ form_widget(formscat.rang) }}
		 </div>
		<div class="form-group categorie">
			<span style="color:red;">{{ form_errors(formscat.categorie) }}</span>
			{{ form_widget(formscat.categorie) }}
		 </div>
	  <div class="keywords">
		<button class="btn btn-primary">Enregistrez la catégorie</button>
	  </div>
	  </div>
	 <div class="clear"></div>
	 {{ form_end(formscat) }}
	<div class="clearfix"></div>
</div>
</div>