{% extends "Theme/Users/User/layoutuser.html.twig" %}
{% block meta %}
  {{ parent() }}
  <meta name="keywords" content="{{ site }}, Business, Innovation,Boutique,e-commerce,{{ site }},{{ metier  }}, {{ site }},site web, hébergement heb Cameroun, hébergement web illimité,hébergement, site internet, site, gratuite,hébergement revendeur,template,domaine, nom de domaine, cameroun, site cameroun,hébergement web cameroun,site moins cher./>
  <meta name="author" content="Noel Kenfack"/>
  <meta name="description" content="{{ site }} | {{ metier }} | Cameroun | Commande | Réglement, {{ site }},site web, hébergement heb Cameroun, hébergement web illimité,hébergement, site internet, site, gratuite,hébergement revendeur,template,domaine, nom de domaine, cameroun, site cameroun,hébergement web cameroun,site moins cher." />
{% endblock %}

{% block title %}
  {{ parent() }} | Commande | {{ user.name(20) }} , {{ site }},site web, hébergement heb Cameroun, hébergement web illimité,hébergement, site internet, site, gratuite,hébergement revendeur,template,domaine, nom de domaine, cameroun, site cameroun,hébergement web cameroun,site moins cher.
{% endblock %}

{% block userblog_body %}
<!-- START CONTENT -->
    <section id="content" class="variation-contenu" value="">
	  {% include 'Theme/General/Template/Menu/menusearch.html.twig' %}
			<!--card stats start-->
		  <!--start container-->
        <div class="container" >
          <div class="section">
			<!-- profile-page-content -->
            <div id="profile-page-content" class="row">
			<div id="profile-page-sidebar" class="col s12 m12">
					{% for infos in app.session.flashbag.get('supprimerproduit') %}
					{% if loop.last %}
					<span style="color: red;"> {{ infos }}</span>
					{% endif %}
					{% endfor %}
					
			 {% set total = 0 %}
                {% for prodpan in produitpanier  %}
				{% set cout = prodpan.produit.newprise  * prodpan.quantite %}
				{% set total = total + cout %}
				{% endfor %}
			<div class="invoice-lable">
              <div class="row">
                <div class="col s12 m3 l3 cyan">
                  <h4 class="white-text invoice-text">Facture </h4>
                </div>
                <div class="col s12 m9 l9 invoice-brief cyan white-text">
                  <div class="row">
                    <div class="col s12 m3 l3">
                      <p class="strong">Total à payer</p>
                      <h4 class="header">{{ devise }} {{ total }}</h4>
                    </div>
                    <div class="col s12 m3 l3">
                      <p class="strong">No de la facture</p>
                      <h4 class="header">{% if panier != null %}{{ panier.date|date('d') }}_{{ panier.id }}_{{ panier.date|date('m') }}_{{ panier.date|date('y') }}{% else%}__Non indiqué{% endif %}</h4>
                    </div>
                    <div class="col s12 m3 l3">
                      <p class="strong">Date</p>
                      <h4 class="header">{{ panier.date|date('d') }}.{{ panier.date|date('m') }}.{{ panier.date|date('y') }}</h4>
                    </div>
					          <div class="col s12 m3 l3">
                      <p class="strong">Domaines retenus</p>
                      <h6 style="font-size: 13px;">{{ panier.domaine }}</h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="invoice-table">
              <div class="row">
                <div class="col s12 m12 l12">
                  <table class="striped">
                    <thead>
                      <tr>
                        <th data-field="no">No</th>
                        <th data-field="item">Produit</th>
                        <th data-field="uprice">Prix Unitaire</th>
                        <th data-field="price">Quatité</th>
                        <th data-field="price">Total</th>
                        <th data-field="price">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for prodpan in produitpanier  %}
					  <tr class="variation-contenu" value="0">
                        <td>{{ loop.index }}.</td>
                        <td>{{ prodpan.produit.nom }}</td>
                        <td>{{ prodpan.produit.newprise }}</td>
                        <td>
						<form action="" method="post" >
              <select id="{{ prodpan.id }}" name="quantite" class="frm-field required modifierproduit" style="width: 100%;" required>
                <option value="" name="country">Modifier la quantité</option> 
                <option value="1" name="country" {% if prodpan.quantite == 1 %}selected{% endif %}>1</option> 
                <option value="2" name="country" {% if prodpan.quantite == 2 %}selected{% endif %}>2</option> 
                <option value="3" name="country" {% if prodpan.quantite == 3 %}selected{% endif %}>3</option> 
                <option value="4" name="country" {% if prodpan.quantite == 4 %}selected{% endif %}>4</option> 
                <option value="5" name="country" {% if prodpan.quantite == 5 %}selected{% endif %}>5</option> 
                <option value="6" name="country" {% if prodpan.quantite == 6 %}selected{% endif %}>6</option> 
                <option value="7" name="country" {% if prodpan.quantite == 7 %}selected{% endif %}>7</option> 
                <option value="8" name="country" {% if prodpan.quantite == 8 %}selected{% endif %}>8</option> 
                <option value="9" name="country" {% if prodpan.quantite == 9 %}selected{% endif %}>9</option> 
                <option value="10" name="country" {% if prodpan.quantite == 10 %}selected{% endif %}>10</option> 
              </select>
						</form>
						</td>
						{% set cout = prodpan.produit.newprise  * prodpan.quantite %}
						<td>{{ cout }}</td>
						<td>
						<a href="{{ path('produit_produit_elever_produit_commande',{'id': prodpan.id }) }}" title="Supprimer" class="btn-floating waves-effect waves-light deep-orange right"><i class="mdi-content-clear"></i></a>
						<a href="{{ path('produit_produit_detail_produit_market', {'id': prodpan.produit.id }) }}" title="Description du produit" class="btn-floating waves-effect waves-light green right" style="margin-right: 3px;"><i class="mdi-action-visibility"></i></a>
						</td>
                      </tr>
					  {% endfor %}
                      
                      <tr>
                        <td colspan="2" class="white"></td>
                        <td>Total:</td>
                        <td>{{ devise }} {{ total }}</td>
                      </tr>
                      <tr>
                        <td colspan="2" class="white"></td>
                        <td>Taxe</td>
                        <td>0.00%</td>
                      </tr>
                      <tr>
                        <td colspan="2" class="white"></td>
                        <td class="cyan white-text">Grand Total</td>
                        <td class="cyan strong white-text">{{ devise }} {{ total }} <a href="{{ path('produit_produit_payement_dupanier_utilisateur', {'id': panier.id }) }}" class="btn waves-effect waves-light green right"><i class="mdi-action-done right"></i> Enregistrez</a></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                
              </div>
            </div>
			<!--
			<div class="mens-toolbar">
              <div style="width: 35%; display: inline-block;">
		            PANIER  N°: <span style="margin-left: 7px; margin-right: 7px;">/</span> {% if panier != null %}{{ panier.date|date('d') }}_{{ panier.id }}_{{ panier.date|date('m') }}_{{ panier.date|date('y') }}{% else%}__Non indiqué{% endif %} 
    		  </div> 
	           <div style="width: 35%; display: inline-block;">
	            Ville de livraison: <strong style="font-size: 1.2em;">{% if panier.ville == null %}{{ ville }}{% else %}{{ panier.ville.nom }}{% endif %}</strong>  
	            </div>
	       		<div style="width: 25%; display: inline-block;">
	            <strong style="font-size: 1.2em; color: green;">Modifier la ville: </strong>
				<form action="{{ path('produit_produit_modifier_lieu_livraison', {'id': panier.id }) }}" method="post" style="display: inline;">
				<select name="ville">
				{% for ville in liste_ville %}
				<option value="{{ ville.nom }}">{{ ville.nom }}</option>
				{% endfor %}
				</select>
				<input type="submit" value="Envoyer"/>
				</form>
	            </div>
	        </div>  -->
			
			<div class="invoice-footer">
              <div class="row">
                <div class="col s12 m6 l6" style="">
				  
				    <div class="card-panel" style="margin-top: 10px; padding: 0px; margin-bottom: -10px;">
					<h4 style="padding: 3px; margin-bottom: 0px;  background: #95a5a6; color: #fff;">{{ site }} </h4>
					<div style="background: #7f8c8d; padding: 10px; color: #fff;">
					<strong style="font-size: 20px;">Services:</strong></br>
					<span>Rapide et fiable</span></br>
					<strong style="font-size: 20px;">Mode de payement:</strong></br>
					Il doit être indiqué quelques instants après l'enregistrement de la commande par un assistant. <a class="btn waves-effect waves-light light-blue darken-4 right"> <i class="mdi-action-perm-phone-msg"></i> Mdme Kenza  {{ telephone }} </a>
					</div>
					</div>
                </div>
                <div class="col s12 m6 l6 center-align">
				    <div class="card-panel" style="margin-top: 10px; padding: 0px; margin-bottom: -10px;">
					<h4 style="padding: 3px; margin-bottom: 0px;  background: #95a5a6; color: #fff;">Approver par: </h4>
					<div style="background: #7f8c8d; padding: 10px; color: #fff;">
					<img src="{{ asset('template/images/projets/signature.png') }}" alt="signature" style="width: 200px; height:45px;"></br>
					<strong style="font-size: 20px;">Noel Kenfack</strong></br>
					Directeur financié.
					</div>
					</div>
                </div>
              </div>
            </div>
			
			</div>
			</div>
		  </div>
		</div>
	  </section>
{% endblock %}

{% block javascripttemplate %}

$('.modifierproduit').on('change', function(){
  var id = $(this).attr('id');
  var quantity = $(this).val();
  var link = '.tout-prix-'+id;
  if($('.variation-contenu').attr('value') == 0 && quantity != 0)
  {
  $('.variation-contenu').attr('value',1);
  $(link).html('Patientez ...'); //attente du résultat
  $.get('{{ path('produit_produit_editer_courant_commande') }}',{ id: id, quantite: quantity }, function(data) {
    $('.variation-contenu').attr('value',0);
    if(data == 1)
    {
      window.location.reload();
    }else{
      alert('Une Erreur rencontrée');
      window.location.reload();
    }
  });
  }
});

$('.commande-alivrer').on('submit',function(){
  $(this).hide('slow');
  $('.remplire-formulaire').show('slow');
  return false;
});
{% endblock %}