<div class="box" style="background: #16a085; padding: 20px 60px; border-radius: 0px; border-top:1px solid #16a085;">
   <a  href="{{ path('users_user_acces_plateforme') }}">
		<img src="{{ asset('newtemplate/images/logomarket.png') }}" style="width: 120px; height: 40px;"/>
   </a>

   <div class="btn-group" style="position: absolute; z-index: 1; top: 30px; right: 10px;">
		<button class="btn btn-info" style="background: #34b1e7; -webkit-box-shadow:0 1px 2px 0 rgba(0,0,0,0.1); box-shadow:0 2px 2px 0 rgba(0,0,0,0.8);"><span class="fa fa-info-circle"></span> À propos</button>
		<button class="btn btn-info dropdown-toggle" data-toggle="dropdown" style="background: #34b1e7; -webkit-box-shadow:0 1px 2px 0 rgba(0,0,0,0.1); box-shadow:0 2px 2px 0 rgba(0,0,0,0.8);"><span class="caret"></span></button>
		<ul class="dropdown-menu text-left pull-right">
		<li><a href="#!"><span class="fa fa-check-square-o"></span> Africexplorer</a></li>
		<li class="divider"></li>
		<li><a href="{{ path('produit_produit_about_us') }}"><span class="fa fa-info-circle"></span> À propos</a></li>
		<li><a href="{{ path('produit_produit_service_struct') }}"><span class="fa fa-cog"></span> Nos services</a></li>
		<li><a href="{{ path('produit_produit_application_references') }}"><span class="fa fa-wrench"></span> Nos références</a></li>
		<li><a href="{{ path('produit_service_contact_us') }}"><span class="fa fa-phone"></span> Nous Contacter</a></li>
		</ul>
	</div>
		
</div>